.header {
    padding: 30px;
    text-align: center;
    font-size: 25px;
    a {
        display: inline-block;
        margin-right: 1px;
        padding: 5px 10px;
        svg {
            width: 28px;
            margin-right: 2px;
        }
    }
   
}